html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset,input, legend, img, #wrap,div ,left,center,right,top,bottom{ margin:0; padding:0;box-sizing: border-box;
    list-style: none;
} 
a{text-decoration: none}
html{font-size:10px}
#scrollBox {
    width: 80px;
    height: 394px;
    position: fixed;
    right: 0;
    top: 30%;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    #scrollBox-top {
        width: 100%;
        height: 275px;
        background: #323232;
        display: none;
        p {
            height: 82px;
            padding-top: 20px;
        }
        #number {
            border-top: 1px solid #9a9b9b;
            border-bottom: 1px solid #9a9b9b;
            height: 100px;
            padding-top: 20px;
        }
    }
    #scrollBox-bottom {
        width: 60px;
        background: #323232;
        height: 60px;
        margin-top: 60px;
        margin-left: 20px;
        font-size: 18px;
        padding-top: 20px;
        display: none;
    }
}