@import "./base.scss";


#carousel-example-generic{
    margin-bottom: 10px;
    height: 52rem;
    img {
        width: 100%;
        height: 100%;
        background-size: contain;
    }
    #before {
        left:-80px;
    }
   #big {
       width: 100px;
   }
}
#bestSeller {
    height: 48rem;
   
    ul {
        display: flex;
        li {
            width: 40.5rem;
            height: 48rem;
            border-right: 1px solid #e5e5e5;
            display: flex;
            span {
                margin-top: 5rem;
                margin-left: 1rem;
            }
            
            .li-center {
                position: relative;
                margin: 0 1.5rem;
                width: 25rem;
                height: 46.3rem;
                text-align: center;
                
                h5 {
                    font-size: 1.4rem;
                    font-weight: normal;
                    margin-top: 0.5rem;
                }
                #bigimg {
                    display: block;
                    width: 22rem;
                    height: 22rem;
                    margin-bottom: 3rem;
                }
                
                p{
                    font-size: 1.3rem;
                    color: #000000;
                    margin-bottom: 2rem;
                    
                }
                #allColors {
                   
                    width: 228px;
                    height: 26px;
                    overflow: hidden;
                    ol{
                        width: 30px;
                        height: 13px;
                        display: inline-block;
                        img {
                            width: 30px;
                            height: 13px;
                        }
                    }
                    #firstOl { height: 26px;};
                    
                }
               
                #stars {
                    margin-top: 5rem;
                }
                #boxb {
                    margin-left: 2.4rem;
                    display: flex;
                    div {
                        width: 10rem;
                        height: 3.5rem;
                        line-height: 3.5rem;
                        text-align: center;
                        font-size: 1.4rem;
                        color: #ffffff;
                    }
                    .box1 {
                        background: #464646;
                    }
                    .box2 {
                        background-color: #141414;
                    }
                }
            }
        }
    }
}
#video {
    height: 760px;
   
    display: flex;
    #video-left {
        width: 950px;
        height: 738px;
        
        #video-left-top {
            position: relative;
            width: 947px;
            height: 520px;
            margin-bottom: 80px;
            .video-show {
                width: 947px;
                height: 520px;
                background-image: url("https://www.giorgioarmanibeauty.cn/dw/image/v2/AARM_PRD/on/demandware.static/-/Sites-armani-cn-Library/default/dw38364034/homepage/PF_POWER_SUIT_960X534_27.jpg?sw=960");
            }
            #videoBtn {
                width: 50px;
                height: 50px;
                background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzAgMzAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMwIDMwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjMDEwMjAyIiBkPSJNMTEuNSwxOS42di05LjJsOS40LDQuNkwxMS41LDE5LjZ6IE0xNSw1LjhjLTUuMiwwLTkuNCw0LjEtOS40LDkuMnM0LjIsOS4yLDkuNCw5LjJjNS4yLDAsOS40LTQuMSw5LjQtOS4yUzIwLjIsNS44LDE1LDUuOCIvPjwvc3ZnPg==);
                position: absolute;
                top: 48%;
                left: 48%;
            }
            .video-hide {
                text-align: center;
                width: 947px;
                height: 520px;
                margin-bottom: 80px;
                display: none;
                background-color: #B01632;
                padding-top: 230px;
                h3 {
                    font-size:20px;font-family:'微软雅黑';
                    
                }
                h4 {
                    font-size:18px;font-family:'微软雅黑';
                }
                display: none;
            }
        }
        #video-left-bottom {
            text-align: center;
            p {
                font-size: 16px;
                color: #000000;
            }
            #btn {
                width: 100px;
                height: 34px;
                background: #000000;
                color: #ffffff;
                font-size: 12px;
                line-height: 34px;
                text-align: center;
                margin: 10px auto;
            }
        }
    }
    #video-right {
        width: 408px;
        height: 508px;
       
        margin-top: 80px;
        margin-left: 200px;
        span {

            font-size: 14px;
            border-bottom: 1px solid;
        }
        #video-right-box {
            width: 268px;
            height: 485px;
           
            float: right;
            text-align: center;
            img {
                width: 295px;
                height: 261px;
            }
            p {
                font-size: 13px;
                line-height: 20px;
            }
            .lastP {
                margin-top: 30px;
            }
            #btn {
                width: 100px;
                height: 34px;
                background: #000000;
                color: #ffffff;
                font-size: 12px;
                line-height: 34px;
                text-align: center;
                margin: 10px auto;
            }
        }
    }
}
#videoBox {
    width: 600px;
    height: 400px;
    border: 1px solid #000000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 99999;
    background-color: #ffffff;
    display: none;
    #X {float: right;font-size: 20px}
    #videoBoxBottom {width: 600px;height: 380px;border: 1px solid;margin-top: 20px}
}
#opcatityBox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99998;
    display: none;
}
#beautiful {
   //height: 800px;
  
   display: flex;
   #beautiful-left {
       width: 1200px;
       height: 1000px;
       background-image: url("https://www.giorgioarmanibeauty.cn/dw/image/v2/AARM_PRD/on/demandware.static/-/Sites-armani-cn-Library/default/dwdf858404/homepage/hp-mosaic-content-IRIS-CELADON-1.jpg?sw=1237");
       background-size: contain;
    }
    #beautiful-right {
        #beautiful-right-top {
            width: 824px;
            height:676px;
            background-size: contain;
            background-image: url("https://www.giorgioarmanibeauty.cn/dw/image/v2/AARM_PRD/on/demandware.static/-/Sites-armani-cn-Library/default/dw11db2f71/homepage/PF_POWER_SUIT_960X534_2.jpg?sw=960");
        }
       #beautiful-right-bottom {
           padding-top: 160px;
           width: 824px;
           height: 320px;
           background-color: #ffffff;
           text-align:center;
           h4 {
               font-size: 23px;
              
           }
           p {
               font-size: 14px;
               line-height: 20px;
           }
           #btn {
               width: 100px;
               height: 35px;
               background-color: #000000;
               color: #ffffff;
               font-size: 11px;
               line-height: 35px;
               margin: 30px auto;
           }
       }
    }
}
#last-banner {
    height: 791px;
    background-image: url('https://www.giorgioarmanibeauty.cn/dw/image/v2/AARM_PRD/on/demandware.static/-/Sites-armani-cn-Library/default/dw5aa3d79f/landing-pages/MaestroOfDetails/hp_ITA.jpg?sw=1920');
    background-size: contain;
}